*{
    margin: 0px;
    padding: 0px;
    font-family:cursive;
}

.main{
    display: flex;
    justify-content: center;
}


.navbar{
    width: 1100px;
    background-color: grey;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 50px;
}

#searchbar{
    display: flex;
    
}
#searchWord{
    background-color: white;
    color: cadetblue;
    font-size: 10pt;
}

#login{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16pt;
    background-color:cornflowerblue;
    box-shadow: 5px 5px 5px;
}

#dojonary{
    font-size: 56pt;
    font-weight: 700;
    margin-bottom: 20px;
}

.bigbox{
    display: flex;
    justify-content: center;
}

.cols{
    display: flex;
    justify-content: space-around;
    width: 1100px;
}

.col1{
    flex: 2;
    background-color: white;
    margin-top: 30px;
    margin-right: 25px;
    padding: 0px;
}

.col1box{
    height: 300px;
    margin: 10px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    border-width: 3px;
    border-style:solid;
    border-color: black;
}

#ninja{
    font-size: 66pt;
    margin-top: 10px;
}
#noun{
    font-size: 36pt;
}
#plural{
    font-size: 20pt;
    font-style: italic;
}
#definition{
    font-size: 20pt;
    margin-left: 40px;
}

#likes{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    font-size: 16pt;
    background-color:lightgreen;
    box-shadow: 5px 5px 5px;
}

.boxleft{
flex: 2;
background-color: white;
}
.boxright{
    flex: 5;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col2{
    flex: 1;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.col2box{
    background-color:white;
    margin-top: 40px;
    padding: 15px;
    height: 250px;
    border-width: 3px;
    border-style:solid;
    border-color: black;
}

#dojodefined{
    font-size: 30pt;
}

#addDef{
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    margin-left: 26px;
    font-size: 16pt;
    background-color:darkkhaki;
    box-shadow: 5px 5px 5px;
}